@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100vh;
  width: 100vw;

  background: #f7f7f7;
  overflow-x: hidden;
}

header,
.container {
  padding: 0 200px 0 120px;
}

/* HEADER ==============*/

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;

  border-bottom: 1px solid #aaaaaa63;
}

header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #707070;
}

header .leftNav .logo {
  width: 95px;
  height: 73px;

  font-size: 44px;
  font-weight: 600;

  border-bottom: 4px solid #b5c401;
  border-radius: 3px;
}

header .rightNav .linkMenu .fa-arrow-right-from-bracket {
  margin-left: 15px;
}

header .leftNav,
.rightNav {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* CONTAINER - NEW BET CONTAINER ==============*/

.container {
  margin-top: 40px;

  display: flex;
  gap: 65px;
}

.newBetContainer {
  width: 684px;
}

.newBetContainer .title {
  margin-bottom: 33px;

  font-size: 24px;
  font-style: italic;
  font-weight: 400;

  color: #707070;
}

.newBetContainer .title strong {
  font-weight: 700;
}

.newBetContainer .betOptions span {
  font-size: 17px;
  font-weight: 600;
  color: #707070;
}

.newBetContainer .betOptions p {
  font-size: 17px;
  color: #707070;
}

.newBetContainer .options {
  margin: 20px 0 28px 0;

  display: flex;
  gap: 20px;
}

.newBetContainer .options .gameType {
  text-align: center;

  font-size: 14px;
  font-weight: 600;
  font-style: italic;

  width: 110px;
  padding: 9px;

  border: 1px solid #707070;
  border-radius: 30px;

  cursor: pointer;
}

.newBetContainer .options .gameType.Lotofácil {
  color: #7f3992;
  border: 2px solid #7f3992;
}

.newBetContainer .options .gameType.Lotofácil.active {
  color: #fff;
  background: #7f3992;
  border: 2px solid #7f3992;
}

.newBetContainer .options .gameType.Lotofácil:hover {
  color: #fff;
  background: #7f3992;
  border: 2px solid #7f3992;
}

.newBetContainer .options .gameType.Mega-Sena {
  color: #01ac66;
  border: 2px solid #01ac66;
}

.newBetContainer .options .gameType.Mega-Sena.active {
  color: #fff;
  background: #01ac66;
  border: 2px solid #01ac66;
}

.newBetContainer .options .gameType.Mega-Sena:hover {
  color: #fff;
  background: #01ac66;
}

.newBetContainer .options .gameType.Quina {
  color: #f79c31;
  border: 2px solid #f79c31;
}

.newBetContainer .options .gameType.Quina.active {
  color: #fff;
  background: #f79c31;
  border: 2px solid #f79c31;
}

.newBetContainer .options .gameType.Quina:hover {
  color: #fff;
  background: #f79c31;
  border: 2px solid #f79c31;
}

.newBetContainer .betDescription {
  width: 648px;
}

/* CONTAINER - FINALY BET CONTAINER ==============*/

.newBetContainer .finalyBetContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 44px 0 50px 0;
}

.finalyBetContainer .optionsGameConteiner {
  display: flex;
  gap: 25px;
}

.finalyBetContainer .optionsGameConteiner .optionGame {
  background: transparent;

  border: 1px solid #27c383;
  border-radius: 10px;

  padding: 15px;

  font-size: 16px;
  font-weight: 400;
  color: #27c383;

  cursor: pointer;
}

.finalyBetContainer .optionsGameConteiner .optionGame:hover {
  background: #27c383;
  border: 1px solid #27c383;
  color: #fff;
}

.finalyBetContainer .addToCartContainer {
  display: flex;
  gap: 10px;

  justify-content: center;
  align-items: center;

  padding: 0 15px;

  background: #27c383;

  border: 1px solid #27c383;
  border-radius: 10px;

  cursor: pointer;
}

.finalyBetContainer .addToCartContainer .addToCart {
  background: transparent;
  border: none;

  color: #fff;
  font-size: 16px;
  font-weight: 600;

  padding: 15px;

  cursor: pointer;
}

.finalyBetContainer .addToCartContainer i {
  color: #fff;
  font-size: 25px;
}

/* CONTAINER - CART ==============*/

.container .cart {
  max-height: 510px;
  width: 317px;

  background: #fff;

  padding: 32px 21px;

  border-top: 1px solid #c7c9ca;
  border-right: 1px solid #c7c9ca;
  border-bottom: 1px solid #c7c9ca;
  border-radius: 10px;

  box-shadow: -2px 0px 10px -2px rgba(0, 0, 0, 0.5);
}

.cart .gamePreviewContainer {
  max-height: 300px;
  margin-bottom: 20px;

  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.cart .gamePreviewContainer .game img {
  width: 220px;
  height: 220px;
}

.cart .titleCart {
  font-style: italic;
  font-size: 24px;
  font-weight: 600;

  color: #707070;
}

.cart .gamePreviewContainer .game {
  height: 200px;
  margin: 35px 0 40px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cart .gamePreviewContainer .game .gameInfo {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 15px;
}

.cart .gamePreviewContainer .game .gameInfo i {
  cursor: pointer;
}

.gamePreviewContainer .game .gamePreview.Lotofácil {
  padding: 8px;
  border-left: 4px solid #7f3992;
  border-radius: 4px;

  font-size: 16px;
  color: #707070;
}

.gamePreviewContainer .game .gamePreview.Mega-Sena {
  padding: 8px;
  border-left: 4px solid #27c383;
  border-radius: 4px;

  font-size: 16px;
  color: #707070;
}

.gamePreviewContainer .game .gamePreview.Quina {
  padding: 8px;
  border-left: 4px solid #f79c31;
  border-radius: 4px;

  font-size: 16px;
  color: #707070;
}

.game .gamePreview .gameTypePrice.Lotofácil {
  margin-right: 10px;

  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  color: #7f3992;
}

.game .gamePreview .gameTypePrice.Mega-Sena {
  margin-right: 10px;

  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  color: #27c383;
}

.game .gamePreview .gameTypePrice.Quina {
  margin-right: 10px;

  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  color: #f79c31;
}

.game .gameInfo i {
  font-size: 16px;
  color: #888888;
}

.gameTotalPriceContainer .totalPrice {
  margin-left: 5px;
  font-weight: 300;
  font-style: normal;
}

.saveGameContainer {
  margin-top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 35px;
  font-weight: 600;
  color: #27c383;

  cursor: pointer;
}

.newBetContainer .numbersContainer {
  max-height: 200px;
  margin-top: 30px;

  overflow-x: hidden;

  display: none;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}

.newBetContainer .numbersContainer .number {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #adc0c4;

  cursor: pointer;
}

.newBetContainer .numbersContainer .number.selected {
  color: #fff;
  background: #1ea2d6;
}

.toast {
  display: none;
}

.toast.success {
  position: absolute;

  top: 10px;
  right: 10px;

  padding: 15px 10px;
  border-radius: 5px;

  color: #fff;
  background: #27c383;

  animation: toastfy 0.5s;
}

.toast.warning {
  position: absolute;

  top: 10px;
  right: 10px;

  padding: 15px 10px;
  border-radius: 5px;

  color: #fff;
  background: rgb(255, 218, 7);

  animation: toastfy 0.5s;
}

@keyframes toastfy {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* .newBetContainer .numbersContainer .number.selected.Lotofácil {
  color: #fff;
  background: #7f3992;
}

.newBetContainer .numbersContainer .number.selected.Mega-Sena {
  color: #fff;
  background: #01ac66;
}

.newBetContainer .numbersContainer .number.selected.Quina {
  color: #fff;
  background: #f79c31;
} */
